*
{

  margin: 0;
  padding: 0;
  position: center;
  text-decoration: none;
  font-family: "Open Sans";
  box-sizing: border-box;
}
/*
.jpg {
  background: url("delete.svg") no-repeat;
  display: inline-block;
  !* podaj tez width i height *!
  width: 15px;
  height: auto;

}
.jpg:hover {
  background: url("delete2.svg");
  width: 15px;
  height: auto;
}*/
